@use 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body{
  color: #2c2b2c;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}



// .app-container {
//   background: red;
//   max-width: 930px;
//   width: 100%;
//   margin: 0 auto;
//   display: flex;
// } 
