.newitem-top {
    padding: 15px;
    border-bottom: 1px solid #e7e2e6;
}


.newitem-bottom {
    padding: 30px 15px;
}


.newitem-title {
    margin-bottom: 10px;
}


.ant-notification-notice-message {
    font-weight: 500;
    color: rgba(216, 67, 67, 0.718) !important;
}