.noteItem-top {
    padding: 15px;
    border-bottom: 1px solid #e7e2e6;
}

.edit{
    margin-right: 10px;
}

h2 {
    margin: 30px 15px 10px;
    font-weight: 500;
}


p {
    margin: 10px 15px 30px;
}